/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../../fonts/poppins/poppins-v9-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
  url('../../fonts/poppins/poppins-v9-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('../../fonts/poppins/poppins-v9-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  //url('../../fonts/poppins/poppins-v9-latin-200.woff') format('woff'), /* Modern Browsers */
  //url('../../fonts/poppins/poppins-v9-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/poppins/poppins-v9-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/poppins/poppins-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light'), local('Poppins-Light'),
  url('../../fonts/poppins/poppins-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/poppins/poppins-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/poppins/poppins-v9-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/poppins/poppins-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/poppins/poppins-v9-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/poppins/poppins-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
  url('../../fonts/poppins/poppins-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/poppins/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/poppins/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/poppins/poppins-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/poppins/poppins-v9-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/poppins/poppins-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
  url('../../fonts/poppins/poppins-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/poppins/poppins-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/poppins/poppins-v9-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/Poppins-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/poppins/poppins-v9-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/poppins/poppins-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
  url('../../fonts/poppins/poppins-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('../../fonts/poppins/poppins-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  //url('../../fonts/poppins/poppins-v9-latin-600.woff') format('woff'), /* Modern Browsers */
  //url('../../fonts/poppins/poppins-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/poppins/poppins-v9-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/poppins/poppins-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
  url('../../fonts/poppins/poppins-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('../../fonts/poppins/poppins-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  //url('../../fonts/poppins/poppins-v9-latin-700.woff') format('woff'), /* Modern Browsers */
  //url('../../fonts/poppins/poppins-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/poppins/poppins-v9-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/poppins/poppins-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
  url('../../fonts/poppins/poppins-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/poppins/poppins-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/poppins/poppins-v9-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/poppins/poppins-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/poppins/poppins-v9-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../../fonts/avenir/AvenirLTStd-Medium.eot');
  src: url('../../fonts/avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/avenir/AvenirLTStd-Medium.woff2') format('woff2'),
  url('../../fonts/avenir/AvenirLTStd-Medium.woff') format('woff'),
  url('../../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
  url('../../fonts/avenir/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../../fonts/avenir/AvenirLTStd-Book.eot');
  src: url('../../fonts/avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'),
  url('../../fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
  url('../../fonts/avenir/AvenirLTStd-Book.ttf') format('truetype'),
  url('../../fonts/avenir/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../../fonts/avenir/AvenirLTStd-Roman.eot');
  src: url('../../fonts/avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/avenir/AvenirLTStd-Roman.woff2') format('woff2'),
  url('../../fonts/avenir/AvenirLTStd-Roman.woff') format('woff'),
  url('../../fonts/avenir/AvenirLTStd-Roman.ttf') format('truetype'),
  url('../../fonts/avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../../fonts/avenir/AvenirLTStd-Black.eot');
  src: url('../../fonts/avenir/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/avenir/AvenirLTStd-Black.woff2') format('woff2'),
  url('../../fonts/avenir/AvenirLTStd-Black.woff') format('woff'),
  url('../../fonts/avenir/AvenirLTStd-Black.ttf') format('truetype'),
  url('../../fonts/avenir/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../../fonts/avenir/AvenirLTStd-Light.eot');
  src: url('../../fonts/avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/avenir/AvenirLTStd-Light.woff2') format('woff2'),
  url('../../fonts/avenir/AvenirLTStd-Light.woff') format('woff'),
  url('../../fonts/avenir/AvenirLTStd-Light.ttf') format('truetype'),
  url('../../fonts/avenir/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

