.color_prim_blue, .main_title, .txt_block_title, .txt_blue, header h1, .benefits .benefits_title, .appfor .txt_block_title, .platform .platform_title, .support .support_title, .needs .needs_title, .download .download_title span, .download .download_subtitle {
  color: #4650FF; }

.color_prim_purple {
  color: #BFC3FF; }

.color_sec_blue {
  color: #000BCB; }

.color_sec_blue_bright {
  color: #1932FF; }

.color_sec_dark, .txt_title, .txt_description, .txt_black, .platform .card_platform .card-text, .needs .needs_title span, .needs .needs_description, .needs .needs_tab, .needs .card, .download .download_title {
  color: #041E42; }

.color_sec_white, footer {
  color: #FFF; }

.bg_prim_blue, .btn_beta, .btn_beta_white:hover, .btn_beta_white:focus, .btn_beta_white:active, .btn_beta_white.active, header .description .blue_rectangle, .support .blue_rectangle, .download .description .blue_rectangle, footer {
  background-color: #4650FF; }

.bg_black {
  background-color: #272727; }

.bg_gray_dark, .needs .black_rectangle {
  background-color: #B4B4B5; }

.bg_gray {
  background-color: #C4C4C4; }

.bg_gray_soft {
  background-color: #e0e1e2; }

.bg_gray_light, .navbar-light, .benefits, .benefits .card_benefits .card, .appfor, .platform, .support, .madein {
  background-color: #f7f7f7; }

.bg_white, .btn_beta:hover, .btn_beta:focus, .btn_beta:active, .btn_beta.active, .btn_beta_white, header.bg_features, header.bg_aboutus, .needs, .download, .culture {
  background-color: #FFF; }

/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/poppins/poppins-v9-latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../../fonts/poppins/poppins-v9-latin-200.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/poppins-v9-latin-200.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/poppins/poppins-v9-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../../fonts/poppins/poppins-v9-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/poppins-v9-latin-300.woff2") format("woff2"), url("../../fonts/poppins/poppins-v9-latin-300.woff") format("woff"), url("../../fonts/poppins/poppins-v9-latin-300.ttf") format("truetype"), url("../../fonts/poppins/poppins-v9-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins/poppins-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../../fonts/poppins/poppins-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/poppins-v9-latin-regular.woff2") format("woff2"), url("../../fonts/poppins/poppins-v9-latin-regular.woff") format("woff"), url("../../fonts/poppins/poppins-v9-latin-regular.ttf") format("truetype"), url("../../fonts/poppins/poppins-v9-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/poppins/poppins-v9-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../../fonts/poppins/poppins-v9-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/poppins-v9-latin-500.woff2") format("woff2"), url("../../fonts/poppins/poppins-v9-latin-500.woff") format("woff"), url("../../fonts/poppins/poppins-v9-latin-500.ttf") format("truetype"), url("../../fonts/poppins/poppins-v9-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/poppins/poppins-v9-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../../fonts/poppins/poppins-v9-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/poppins-v9-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/poppins/poppins-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../../fonts/poppins/poppins-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/poppins-v9-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/poppins/poppins-v9-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../../fonts/poppins/poppins-v9-latin-800.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/poppins-v9-latin-800.woff2") format("woff2"), url("../../fonts/poppins/poppins-v9-latin-800.woff") format("woff"), url("../../fonts/poppins/poppins-v9-latin-800.ttf") format("truetype"), url("../../fonts/poppins/poppins-v9-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Avenir LT Std';
  src: url("../../fonts/avenir/AvenirLTStd-Medium.eot");
  src: url("../../fonts/avenir/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/avenir/AvenirLTStd-Medium.woff2") format("woff2"), url("../../fonts/avenir/AvenirLTStd-Medium.woff") format("woff"), url("../../fonts/avenir/AvenirLTStd-Medium.ttf") format("truetype"), url("../../fonts/avenir/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Avenir LT Std';
  src: url("../../fonts/avenir/AvenirLTStd-Book.eot");
  src: url("../../fonts/avenir/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/avenir/AvenirLTStd-Book.woff2") format("woff2"), url("../../fonts/avenir/AvenirLTStd-Book.woff") format("woff"), url("../../fonts/avenir/AvenirLTStd-Book.ttf") format("truetype"), url("../../fonts/avenir/AvenirLTStd-Book.svg#AvenirLTStd-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir LT Std';
  src: url("../../fonts/avenir/AvenirLTStd-Roman.eot");
  src: url("../../fonts/avenir/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../../fonts/avenir/AvenirLTStd-Roman.woff2") format("woff2"), url("../../fonts/avenir/AvenirLTStd-Roman.woff") format("woff"), url("../../fonts/avenir/AvenirLTStd-Roman.ttf") format("truetype"), url("../../fonts/avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir LT Std';
  src: url("../../fonts/avenir/AvenirLTStd-Black.eot");
  src: url("../../fonts/avenir/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/avenir/AvenirLTStd-Black.woff2") format("woff2"), url("../../fonts/avenir/AvenirLTStd-Black.woff") format("woff"), url("../../fonts/avenir/AvenirLTStd-Black.ttf") format("truetype"), url("../../fonts/avenir/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Avenir LT Std';
  src: url("../../fonts/avenir/AvenirLTStd-Light.eot");
  src: url("../../fonts/avenir/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/avenir/AvenirLTStd-Light.woff2") format("woff2"), url("../../fonts/avenir/AvenirLTStd-Light.woff") format("woff"), url("../../fonts/avenir/AvenirLTStd-Light.ttf") format("truetype"), url("../../fonts/avenir/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
.font-poppins, html, body, .main_title, .txt_block_title, .txt_title, header .description, header .description .txt_description, .benefits .benefits_title, .appfor .txt_block_title, footer .footer_bold {
  font-family: 'Poppins', sans-serif; }

.font-avenir, .txt_description, footer .footer_item {
  font-family: 'Avenir LT Std', sans-serif; }

html, body {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  position: relative;
  padding-top: 50px; }

.row {
  padding: 0;
  margin: 0; }

.borders, header #header_image {
  border: 1px solid red; }

.nav-link {
  text-align: left; }

.nopadding {
  padding: 5px; }

.main_title {
  font-size: 33pt;
  line-height: 43pt;
  text-align: center;
  font-weight: bold;
  margin: auto;
  padding: auto; }

.txt_block_title {
  font-size: 30pt;
  text-align: center;
  font-weight: normal;
  line-height: 39pt;
  padding-top: 20px;
  padding-bottom: 20px; }

.txt_title {
  font-size: 23pt;
  text-align: center;
  font-weight: normal;
  line-height: 22pt; }

.txt_description {
  font-size: 12pt;
  line-height: 22pt;
  text-align: center;
  font-weight: 300;
  padding-top: 10px; }

#btn_managers, #btn_teams, #btn_travelers {
  cursor: pointer; }

.block_separation_title {
  padding-bottom: 40px; }

.btn_beta {
  color: #FFF;
  width: 250px;
  border-radius: 35px;
  margin: auto;
  text-align: center;
  display: block; }

.btn_beta:hover, .btn_beta:focus, .btn_beta:active, .btn_beta.active {
  color: #4650FF; }

.btn_beta_white {
  color: #4650FF;
  width: 250px;
  border-color: #4650FF;
  border-radius: 35px;
  margin: auto;
  text-align: center;
  display: block; }

.btn_beta_white:hover, .btn_beta_white:focus, .btn_beta_white:active, .btn_beta_white.active {
  color: #FFF;
  border-color: #4650FF; }

header {
  padding-top: 10px; }
  header h1 {
    font-size: 41pt;
    line-height: 51pt;
    font-weight: 600; }
  header .description {
    padding-top: 5px;
    display: -webkit-inline-box; }
    header .description .blue_rectangle {
      width: 5px;
      height: 100px;
      margin-right: 20px; }
    header .description .txt_description {
      font-size: 14pt;
      font-weight: lighter;
      line-height: 22pt;
      text-align: justify;
      padding-right: 30px;
      padding-bottom: 10px; }
  header .btn_beta_space {
    padding: 20px; }
  header .btns_apps {
    margin: auto;
    padding: auto;
    max-width: 200px;
    text-align: center;
    display: block; }
  header #header_image {
    width: 100%;
    padding: 0;
    margin: 0; }
  header .bg_header_img {
    padding: 0;
    margin: 0;
    background-image: url("../../images/isibit_assets/header/main_header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position-x: 0px; }
  header.bg_features {
    padding: auto;
    margin: auto;
    background-image: url("../../images/isibit_assets/backgrounds/l2/b1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px; }
  header.bg_aboutus {
    padding: auto;
    margin: auto;
    background-image: url("../../images/isibit_assets/backgrounds/l3/b1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px; }

.benefits {
  background-image: url("../../images/isibit_assets/backgrounds/l1/b1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px; }
  .benefits .benefits_title {
    font-size: 30pt;
    line-height: 39pt;
    text-align: center;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 30px; }
  .benefits .card_benefits .card {
    height: 425px;
    padding-top: 10px;
    border: none;
    box-shadow: none; }
  .benefits .card_benefits .card-title {
    font-size: 23pt;
    text-align: center;
    font-weight: 400; }
  .benefits .card_benefits .card-text {
    font-size: 14pt;
    text-align: center;
    font-weight: lighter; }
  .benefits .card_benefits img {
    width: 150px;
    padding: auto;
    margin: auto; }

.block_bg {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 40px;
  padding-bottom: 40px; }
  .block_bg.bg_main {
    padding-bottom: 0px; }

.appfor {
  background-image: url("../../images/isibit_assets/backgrounds/l2/b2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 950px; }
  .appfor .card {
    border-radius: 20px; }
  .appfor .txt_block_title {
    font-size: 21pt;
    text-align: center;
    font-weight: bold;
    line-height: 28pt; }

.webplatform {
  background-image: url("../../images/isibit_assets/backgrounds/l2/b3.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px; }

.platform {
  min-height: 800px;
  padding-top: 40px;
  padding-bottom: 20px; }
  .platform .platform_title {
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 30px; }
  .platform .card_platform {
    margin-bottom: 30px; }
    .platform .card_platform .card {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 20px; }
    .platform .card_platform .card-title {
      font-size: 30pt;
      text-align: center;
      font-weight: bold; }
    .platform .card_platform .card-text {
      font-size: 14pt;
      text-align: center;
      font-weight: lighter; }
    .platform .card_platform img {
      width: 700px;
      padding: auto;
      margin: auto; }

.support {
  background-image: url("../../images/isibit_assets/backgrounds/l1/b2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-bottom: 40px; }
  .support .support_title {
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 30px; }
  .support .card {
    background: inherit;
    border: inherit;
    padding: 0;
    margin: 0;
    min-height: 475px; }
  .support .blue_rectangle {
    padding: auto;
    margin: auto;
    width: 90%;
    height: 4px; }
  .support .card_support {
    padding-top: 60px; }
    .support .card_support .card-title {
      font-size: 23pt;
      text-align: center;
      font-weight: normal;
      line-height: 22pt; }
    .support .card_support .card-text {
      font-size: 14pt;
      line-height: 22pt;
      text-align: center;
      font-weight: lighter;
      padding-top: 20px; }
    .support .card_support img {
      height: 175px;
      padding: auto;
      margin: auto; }

.needs {
  background-image: url("../../images/isibit_assets/backgrounds/l1/b3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 850px; }
  .needs .needs_card {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    padding-bottom: 70px; }
  .needs .needs_title {
    font-size: 30pt;
    text-align: center;
    font-weight: normal;
    line-height: 39pt;
    margin-top: 50px;
    margin-bottom: 30px; }
  .needs .needs_description {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px; }
  .needs .needs_tab {
    display: inline-block;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    padding: 15px;
    padding: auto;
    margin: auto; }
    .needs .needs_tab img {
      max-height: 30px;
      margin-left: 5px; }
  .needs .black_rectangle {
    display: inline-block;
    width: 1px;
    height: 80px;
    padding: 0;
    margin: 0; }
  .needs .card {
    font-size: 14pt;
    line-height: 22pt;
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px; }

.download {
  #background-image: url("../../images/isibit_assets/assets/isibit_app.png");
  background-image: url("../../images/isibit_assets/backgrounds/l1/b4.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px; }
  .download .download_title {
    font-size: 41pt;
    text-align: left;
    font-weight: normal; }
  .download .download_subtitle {
    font-size: 22pt;
    text-align: center;
    font-weight: lighter; }
  .download .description {
    padding-top: 30px;
    display: -webkit-inline-box; }
    .download .description .blue_rectangle {
      width: 5px;
      height: 100px;
      margin-right: 20px; }
    .download .description .txt_description {
      font-size: 14pt;
      font-weight: lighter;
      line-height: 22pt;
      text-align: justify;
      padding-right: 30px;
      margin-bottom: 10px; }
  .download .download_btns {
    padding-top: 30px; }

.madein .made_image {
  margin: auto;
  pading: auto; }
.madein #made_backgroud {
  background-image: url("../../images/isibit_assets/assets/madein.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }

.culture {
  background-image: url("../../images/isibit_assets/backgrounds/l3/b2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px; }

footer {
  padding-bottom: 50px;
  padding-top: 50px; }
  footer .row .col-12 {
    margin-top: 20px; }
  footer .footer_bold {
    font-size: 19pt;
    text-align: center;
    font-weight: bold; }
  footer .footer_item {
    font-size: 17pt;
    padding-top: 23pt;
    text-align: center;
    font-weight: lighter; }

.modal-content {
  border-radius: 25px; }
  .modal-content .form-control {
    border: 0;
    border-bottom: 1px solid #BFC3FF; }

/*# sourceMappingURL=landing.css.map */
