//@import '../bootstrap/bootstrap.css';

//VARS PRIMARY AND SECONDARY COLORS
$c_prim_blue: #4650FF;
$c_prim_purple: #BFC3FF;

$c_sec_blue: #000BCB;
$c_sec_blue_bright: #1932FF;
$c_sec_blue_dark: #041E42;

$c_sec_white: #FFF;



//VARS BG COLORS
$bg_black: #272727;
$bg_gray_dark: #B4B4B5;
$bg_gray: #C4C4C4;
$bg_gray_soft: #e0e1e2;
$bg_gray_light: #f7f7f7;
$bg_white: #FFF;


//Font Colors
.color_prim_blue{ color:$c_prim_blue}
.color_prim_purple{ color:$c_prim_purple}
.color_sec_blue{ color:$c_sec_blue}
.color_sec_blue_bright{ color:$c_sec_blue_bright}
.color_sec_dark{ color:$c_sec_blue_dark}
.color_sec_white{ color:$c_sec_white}



//Bg PRIMARY Colors for btns
.bg_prim_blue{ background-color:$c_prim_blue}

//Bg Colors
.bg_black{ background-color:$bg_black}
.bg_gray_dark{ background-color:$bg_gray_dark; }
.bg_gray{ background-color:$bg_gray; }
.bg_gray_soft{ background-color:$bg_gray_soft; }
.bg_gray_light{ background-color:$bg_gray_light; }
.bg_white{ background-color:$bg_white; }


//@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

@import "fonts.scss";

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.font-avenir{
  font-family: 'Avenir LT Std', sans-serif;
}


html, body{
  width: 100% !important;
  height: 100% !important;

  margin:0;
  position: relative;
  padding-top: 50px;
  @extend .font-poppins;
}

.row{
  padding: 0;
  margin: 0;
}

.col{

}

.borders{
  border:1px solid red;
}

//NAV BAR
.col-sm-4{
}

.navbar-light{
  @extend .bg_gray_light;
}

.nav-link{
  text-align: left;
}

.nopadding{
  padding: 5px;
}



// GENERAL TEXT STYLES
.main_title{
  @extend .color_prim_blue;
  @extend .font-poppins;
  font-size: 44px;
  line-height: 43pt;
  text-align: center;
  font-weight: 600;
  margin: auto;
  padding:auto;
}

.txt_block_title{
  @extend .color_prim_blue;
  @extend .font-poppins;
  font-size: 30pt;
  text-align: center;
  font-weight: 500;
  line-height: 39pt;
  padding-top: 20px;
  padding-bottom: 20px;
}

.txt_title{
  @extend .color_sec_dark;
  @extend .font-poppins;
  font-size: 23pt;
  text-align: center;
  font-weight: normal;
  line-height: 22pt;
}


.txt_description{
  @extend .color_sec_dark;
  @extend .font-avenir;
  font-size: 14pt;
  line-height: 22pt;
  text-align: center;
  font-weight: 300;
  padding-top:10px;
}

.txt_black{
  @extend .color_sec_dark;
}
.txt_blue{
  @extend .color_prim_blue;
}

// GENERAL CSS

#btn_managers, #btn_teams, #btn_travelers{
  cursor: pointer;
}

.block_separation_title{
  padding-bottom: 40px;
}

.btn_beta{
  @extend .bg_prim_blue;
  color: $c_sec_white;
  width: 100%;
  border-radius: 35px;
  margin: auto;
  text-align: center;
  display: block;
}
.btn_beta:hover, .btn_beta:focus, .btn_beta:active, .btn_beta.active {
  @extend .bg_white;
  color: $c_prim_blue;
}

.btn_beta_white{
  @extend .bg_white;
  color: $c_prim_blue;
  width: 100%;
  border-color: $c_prim_blue;
  border-radius: 35px;
  margin: auto;
  text-align: center;
  display: block;
}
.btn_beta_white:hover, .btn_beta_white:focus, .btn_beta_white:active, .btn_beta_white.active {
  @extend .bg_prim_blue;
  color: $c_sec_white;
  border-color: $c_prim_blue;
}

label.error{
  color: red;
  font-size: 10px;
}



// BACKGROUND BLOCKS DEFINITION.

header{
  padding-top: 10px;


  h1{
    @extend .color_prim_blue;
    font-size:41pt;
    line-height: 51pt;
    font-weight: 600;
  }

  .description{
    padding-top: 5px;
    display: -webkit-inline-box;
    @extend .font-poppins;

    .blue_rectangle{
      width: 5px;
      height:100px;
      margin-right: 20px;
      @extend .bg_prim_blue;
    }

  }

  .btn_beta_space{
    padding:20px;
  }


  .btns_apps{
    margin: auto;
    padding: auto;
    max-width: 200px;
    text-align: center;
    display: block;
  }

  .header_image{
    @extend .borders;
  }

  .bg_header_img{
    padding: 0;
    margin: 0;
    background-image: url("../../images/isibit_assets/header/main_header.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position-x: 0px;
  }


  &.features{
  }

  &.bg_features{
     padding: auto;
     margin: auto;
     background-image: url("../../images/isibit_assets/backgrounds/l2/b1.png") ;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 600px;
     @extend .bg_white;
   }

  &.bg_aboutus{
    padding: auto;
    margin: auto;
    background-image: url("../../images/isibit_assets/backgrounds/l3/b1.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    @extend .bg_white;
  }
}


.benefits{
  background-image: url("../../images/isibit_assets/backgrounds/l1/b1.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .bg_gray_light;
  min-height: 800px;

  .benefits_title{
    font-size: 30pt;
    line-height: 39pt;
    text-align: center;
    font-weight: normal;
    @extend .color_prim_blue;
    margin-top: 50px;
    margin-bottom:30px;
    @extend .font-poppins;
  }

  .card_benefits{
    .card{
      @extend .bg_gray_light;
      height: 425px;
      padding-top: 10px;
      border: none;
      box-shadow: none;

    }

    .card-title{
      font-size: 23pt;
      text-align: center;
      font-weight: 400;
    }

    .card-text{
      font-size: 14pt;
      text-align: center;
      font-weight: lighter;
    }

    img{
      width: 150px;
      padding: auto;
      margin: auto;
    }
  }
}


.block_bg{
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  &.bg_main{
    padding-bottom: 0px;
  }
}

.appfor{
  @extend .bg_gray_light;
  background-image: url("../../images/isibit_assets/backgrounds/l2/b2.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 950px;

  .card{
    border-radius: 20px;
  }
  .txt_block_title{
    @extend .color_prim_blue;
    @extend .font-poppins;
    font-size: 21pt;
    text-align: center;
    font-weight: bold;
    line-height: 28pt;
  }
}

.webplatform{
  background-image: url("../../images/isibit_assets/backgrounds/l2/b3.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;

}


.platform{
  min-height: 800px;
  @extend .bg_gray_light;
  padding-top: 40px;
  padding-bottom: 20px;

  .platform_title{
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    @extend .color_prim_blue;
    margin-top:50px;
    margin-bottom:30px;

  }

  .card_platform{
    margin-bottom:30px;

    .card{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 20px;
    }
    .card-title{
      font-size: 30pt;
      text-align: center;
      font-weight: bold;
    }

    .card-text{
      font-size: 14pt;
      @extend .color_sec_dark;
      text-align: center;
      font-weight: lighter;
    }

    img{
      width: 700px;
      padding: auto;
      margin: auto;
    }
  }
}




.support{
  background-image: url("../../images/isibit_assets/backgrounds/l1/b2.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;

  @extend .bg_gray_light;
  padding-bottom: 40px;

  .support_title{
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    @extend .color_prim_blue;
    margin-top: 50px;
    margin-bottom:30px;
  }

  .card{
    background: inherit;
    border: inherit;
    padding: 0;
    margin: 0;
    min-height: 475px;

  }

  .blue_rectangle{
    padding: auto;
    margin: auto;
    width: 90%;
    height:4px;
    @extend .bg_prim_blue;
  }

  .card_support{
    padding-top: 60px;

    .card-title{
      font-size: 23pt;
      text-align: center;
      font-weight: normal;
      line-height: 22pt;
    }

    .card-text{
      font-size: 14pt;
      line-height: 22pt;
      text-align: center;
      font-weight: lighter;
      padding-top: 20px;
    }
    img{
      height: 175px;
      padding: auto;
      margin: auto;
    }
  }
}



.needs{
  background-image: url("../../images/isibit_assets/backgrounds/l1/b3.png") ;
  @extend .bg_white;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 850px;

  .needs_card{
    background: rgba(255,255,255,0.4);
    border-radius: 25px;
    padding-bottom: 70px;
  }


  .needs_title{
    font-size: 30pt;
    text-align: center;
    font-weight: normal;
    line-height: 39pt;
    @extend .color_prim_blue;
    margin-top: 50px;
    margin-bottom:30px;
    span{
      @extend .color_sec_dark;
    }
  }

  .needs_description{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    @extend .color_sec_dark;
    margin-top: 10px;
    margin-bottom:30px;
  }

  .needs_tab{
    display: inline-block;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    padding: 15px;
    @extend .color_sec_dark;

    img{
      max-height: 30px;
      margin-left: 5px;
    }
    padding: auto;
    margin: auto;
  }
  .black_rectangle{
    display: inline-block;
    width:1px;
    height:80px;
    padding: 0;
    margin: 0;
    @extend .bg_gray_dark;
  }

  .card{
    font-size: 14pt;
    line-height: 22pt;
    text-align: center;
    font-weight: normal;
    @extend .color_sec_dark;
    margin-top: 30px;
    margin-bottom:30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


.download{
  @extend .bg_white;
  #background-image: url("../../images/isibit_assets/assets/isibit_app.png");
  background-image: url("../../images/isibit_assets/backgrounds/l1/b4.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;

  .download_title{
    font-size: 41pt;
    text-align: left;
    font-weight: normal;
    @extend .color_sec_dark;
    span{
      @extend .color_prim_blue;
    }
  }

  .download_subtitle{
    font-size: 22pt;
    text-align: center;
    font-weight: lighter;
    @extend .color_prim_blue;
  }

  .description{
    padding-top: 30px;
    display: -webkit-inline-box;

    .blue_rectangle{
      width: 5px;
      height:100px;
      margin-right: 20px;
      @extend .bg_prim_blue;
    }
    .txt_description{
      font-size: 14pt;
      font-weight: lighter;
      line-height: 22pt;
      text-align: center;
      padding-right: 40px;
      padding-left: 40px;
      margin-bottom: 10px;
    }
  }

  .download_btns{
    padding-top: 30px;
  }
}

.madein{
  @extend .bg_gray_light;

  .made_image{
    margin: auto;
    pading: auto;
  }

  #made_backgroud{
    background-image: url("../../images/isibit_assets/assets/madein.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
}

.culture{
  @extend .bg_white;
  background-image: url("../../images/isibit_assets/backgrounds/l3/b2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
}


footer{

  padding-bottom: 50px;
  padding-top: 50px;

  @extend .bg_prim_blue;
  @extend .color_sec_white;

  .row .col-12{
    margin-top: 20px;
  }

  .footer_bold{
    @extend .font-poppins;
    font-size: 19pt;
    text-align: center;
    font-weight: bold;
  }

  .footer_item{
    @extend .font-avenir;
    font-size: 17pt;
    padding-top: 23pt;
    text-align: center;
    font-weight: lighter;
  }

}



.modal-content{
  border-radius: 25px;

  .form-control{
    border: 0;
    border-bottom: 1px solid $c_prim_purple;
  }
}